@font-face {
    font-family: "BPG Arial";
    src: url("../fonts/bpg-arial-webfont.eot");
    src: url("../fonts/bpg-arial-webfont.eot") format("embedded-opentype"), url("../fonts/bpg-arial-webfont.woff2") format("woff2"), url("../fonts/bpg-arial-webfont.woff") format("woff"), url("../fonts/bpg-arial-webfont.ttf") format("truetype"), url("../fonts/bpg-arial-webfont.svg#bpg_arialregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BPG Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-text-size-adjust: none;
    color: #9f9f9f;
    background: #fff;
}
